@media print {
    @page {
        size: 105mm 148mm;
        margin: 0;
    }

    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .pos-receipt-print {
        width: 100%;
        max-width: 105mm;
        font-size: 38px;
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
    }

    .pos-receipt {
        width: 100%;
        max-width: 105mm;
        padding: 1em;
        margin: 0 auto;
        box-sizing: border-box;
        background: white;
    }

    .pos-receipt .pos-receipt-amount,
    .pos-receipt .pos-receipt-title,
    .pos-receipt .pos-receipt-header {
        font-size: 150%;
    }

    .pos-receipt .pos-receipt-logo {
        width: 70%;
        margin: 0.5em auto;
    }

    .pos-receipt .pos-receipt-amount {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .customer-note,
    .pos-receipt-order-data,
    .pos-payment-terminal-receipt {
        font-size: 100%;
    }

    .pos-receipt-right-align {
        float: none;
        margin-left: auto;
        text-align: right;
        flex: 1;
    }
}
